#calculator_frame {
    background: #b3b3b3;
    width: 300px;
    text-align: center;
    height: 400px;
    border: solid 6px #a6a6a6;
    border-radius: 50px;
}

.btn {
    width: 60px;
    height: 40px;
    margin-top: 6px;
    border-radius: 5px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-primary:hover {
    background: #66d9ff !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    background-color: #1ac6ff !important;
    border-color: #1ac6ff !important;
}

#screen {
    width: 248px;
    height: 70px;
    text-align: right;
    font-size: 50px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    background: #fff;
}

div {
    margin: auto;
}

.row {
    height: 100vh;
    width: 103vw;
    background: #cce6ff;
}